div {
    height: 100px;
    width: 100px;
    background-color: orange;
    border: 2px solid black;
    text-align: center;
    margin: 1em
}

body {
    display: flex;
    /*These are the default flex properties
    flex-direction: row;
    flex-wrap: nowrap;
    */
    flex-wrap: wrap; /* Changing the default wrap style */
    /*Justifying the contents of the flex container*/
    justify-content: space-between;
    
}